<%= form_for @genre, url: {action: "create"} do |f| %>
  <p>
    <%= f.label :name_genre, class:"genre_new" %><br>
    <%= f.text_field :name_genre, class:"genre_new_field" %>
  </p>

  <p>
    <%= f.label :image_url_genre, class:"genre_new" %><br>
    <%= f.text_field :image_url_genre, class:"genre_new_field" %>
  </p>

  <p>
    <%= f.submit class:"btn btn-warning"%>
  </p>

<% end %>
