<h1>Welcome</h1>

<% if user_signed_in? %>

  <li class = "btn btn-default">
    <%= link_to 'Ingresar como Usuario', bands_path %>
  </li>

  <% if current_user.band != nil %>
    <li class = "btn btn-default">
      <%= link_to 'Ingresar como Banda', @band%>
    </li>
  <% else %>
    <li class = "btn btn-default">
	  <%= link_to 'Crear mi Banda', new_band_path%>
    </li>
  <%end%>

  <li class = "btn btn-default">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<!-- carpeta de layouts-->
