<h1><%= @band.name %></h1>
<img src="<%= @band.url_image %>" alt="" class="band">
<ul>
  <li>Tu Genero actual es: <%= @band.genre %></li>
  <li>Tu Tarifa actual es: <%= @band.rate %></li>
  <li>Tu Calificacion actual es: <%= @band.popularity %></li>
  <li>Tu Telefono de contacto actual es: <%= @band.phone %></li>
  <li>Tu Email actual es: <%= @band.email %></li>
  <li>Tu descripcion actual es: <%= @band.description %></li>
</ul>
<%= form_for @reservation, url: {action: "create"} do |f| %>
<%=f.hidden_field :band_id, value:@band.id%>
<div class="field">
  <%= f.label :Fecha_de_Reserva %><br />
  <%= f.date_field :date%>
</div>

<div class="field">
  <%= f.label :Duración %><br />
  <%= f.number_field :duration%>
</div>

<div class="actions">
  <%= f.submit "Realizar Reserva" %>
</div>
<% end %>
